.faulty-terminal-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.faulty-terminal-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
